<%= content_tag "div", id: "weather", data: {city: @business.location} do %>
<% end %>


<h1><%= @business.name %></h1></br>

<% if @business.status == 'offline' %>
    <h3> This business is currently unavailable. </h3>
<% else %>
  <% @business.items.each do |item| %>
    <div class="container col-md-4 item-wrapper">
      <p class= '<%= item.slug %>'>
        <%= link_to item.name, item_path(item.slug) %>, <%= item.price %></h4>
      </p>
      <p>
        <img src=<%= item.image_url %>>
      </p>
      <%= button_to "Add to Cart", cart_items_path({item_id: item.id}) %>
    </div>
  <% end %>
<% end %>
