<%= @business.location %>

<h1><%= @business.name %></h1></br>

<% @business.items.each do |item| %>
  <div class="container col-md-4 item-wrapper">
    <h4><%= link_to item.name, item_path(item) %>, <%= item.price %></h4>
    <%= button_to "Add to Cart", cart_items_path({item_id: item.id}) %>
  </div>
<% end %>
