- @business_admins.each do |admin|
  .admin
    = "#{admin.username}"
    = link_to 'Demote Admin', business_admin_path(removed_admin: "#{admin.username}"), method: :delete
= link_to 'Add Business Admin', new_business_admin_path(id: params[:id])
