.container.order-table
  %table.table.table-default
    %tr
      %th.order-header Items
      %th.order-header Quantity
      %th.order-header Subtotal
    - target.order_items.each do |order_item|
      %tr
        %td= link_to "#{order_item.item.name}", item_path(order_item.item)
        %td= order_item.quantity
        %td $#{order_item.subtotal}
    %tr
      %td{:colspan => "2"} Total
      %td $#{target.total}
