- new_businesses = @businesses.select { |business| business.status == 'new_business' }
- online_businesses = @businesses.select { |business| business.status == 'online' }
- offline_businesses = @businesses.select { |business| business.status == 'offline' }

%h3 Online Businesses:
- online_businesses.each do |business|
  %div.business
    %h4 Business Name: #{business.name}
    %h5 Business Location: #{business.location}
    -# a button to remove a business from online
    %p= link_to "Update Business Info", edit_business_path(business), class: "button success hollow button"
    %p= link_to "Manage Business Admins", edit_business_admin_path(business), class: "button success hollow button"
    %p= "Admins:"
    = business.admins.map { |admin| admin.username }.join(", ")

%h3 New Businesses To Approve:
- new_businesses.each do |business|
  %div.new_business
    %h4 New Business Name: #{business.name}
    %h5 New Business Location: #{business.location}
    = button_to "Approve New Business", business_path(business), {:method => :patch, :params => {:business => {:status => 'online'}}} 

%h3 Offline Businesses:
- offline_businesses.each do |business|
  %div.offline_business
    %h4 Offline Business Name: #{business.name}
    %h5 Offline Business Location: #{business.location}
    -# button to take business back online
