%h3 Businesses:
=@businesses.each do |business|
  %div.business
    %h4 Business Name: #{business.name}
    %h5 Business Location: #{business.location}
    %p= link_to "Update Business Info", edit_business_path(business), class: "button success hollow button"
    %p= link_to "Manage Business Admins", edit_business_admin_path(business), class: "button success hollow button"
    %p= "Admins:"
    =business.admins.map { |admin| admin.username }.join(", ")
