- new_businesses = @businesses.select { |business| business.status == 'new_business' }
- online_businesses = @businesses.select { |business| business.status == 'online' }
- offline_businesses = @businesses.select { |business| business.status == 'offline' }

%div.online-businesses
  %h3 Online Businesses:
  - online_businesses.each do |business|
    %div.business
      %h4 Business Name: #{business.name}
      %h5 Business Location: #{business.location}
      %p= link_to "Update Business Info", edit_business_path(business), class: "button success hollow button"
      %p= link_to "Manage Business Admins", edit_business_admin_path(business), class: "button success hollow button"
      = button_to "Take Business Offline", business_path(business), {:method => :patch, :params => {:business => {:status => 'offline'}}}
      %p= "Admins:"
      = business.admins.map { |admin| admin.username }.join(", ")

%div.new-businesses
  %h3 New Businesses To Approve:
  - new_businesses.each do |business|
    %div.new-business
      %h4 New Business Name: #{business.name}
      %h5 New Business Location: #{business.location}
      = button_to "Approve New Business", business_path(business), {:method => :patch, :params => {:business => {:status => 'online', :add_business_admin => true}}}
      = button_to "Decline New Business", business_path(business), :method => :delete

%div.offline-businesses
  %h3 Offline Businesses:
  - offline_businesses.each do |business|
    %div.offline-business
      %h4 Offline Business Name: #{business.name}
      %h5 Offline Business Location: #{business.location}
      = button_to "Set Business Online", business_path(business), {:method => :patch, :params => {:business => {:status => 'online'}}}
