<h1 class="final"><%= @item.name %></h1></br>

<img class="" src=<%= @item.image_url %>>
<div class="col-sm-6 white-tt">
  <%= @item.description %>
</p>
<div class="white-ttt">
  $<%= @item.price %>
</div>
</br>
<%= button_to "Add to Cart", cart_items_path({item_id: @item.id}), class:"btn-warning" %>
</div>
<p>
