<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "World Wide Farmer's Market" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
  </head>

  <body class="row">
    <%= render partial: 'shared/nav_bar'%>

  <section class="main">
    <% flash.each do |type, message| %>
      <div data-alert class="flash_<%= type %> alert-box round">
        <%= sanitize(message) %>
      </div>
    <% end %>

      <%= yield %>

  </section>

    <!-- <%= render partial: 'shared/footer' %> -->
  </body>
</html>
